<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1> Welcome to gitPub</h1>
    <% for (let i = 0; i < allDrinks.length; i++) { %>
        <p> 
           <a href="/drinks/<%= i %>">
            <%= allDrinks[i].name %>
           </a> 
        </p>
    <% } %>

    <ul>
        <li> Cruddy Mary</li>
        <li> Index on The Beach </li>
        <li> Hack & Coke</li>
        <li> Whiskey-value Pair</li>
        <li> 404 Horsemen</li>
        <li> If StateMint Julep</li>
        <li> APIPA</li>
        <li> Node to Joy</li>





    </ul>

    
<style type="text/css">
    body {
      color:paleturquoise;
      background-color: lightcoral;
    }
  </style>
</body>
</html>