<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1> Welcome to gitPub</h1>
    <% for (let i = 0; i < allDrinks.length; i++) { %>
        <p> 
           <a href="/drinks/<%= i %>">
            <%= allDrinks[i].name %>
           </a> 
        </p>
    <% } %>

    <ul>
       <a href = "/drinks/0" ></a><li> Cruddy Mary</li></a>
       <a href = "/drinks/1" ></a> <li> Index on The Beach </li></a>
       <a href = "/drinks/2" ></a> <li> Hack & Coke</li></a>
       <a href = "/drinks/3" ></a> <li> Whiskey-value Pair</li></a>
       <a href = "/drinks/4" ><li> 404 Horsemen</li></a>
       <a href = "/drinks/5" ><li> If StateMint Julep</li></a>
       <a href = "/drinks/6" ><li> APIPA</li></a>
       <a href = "/drinks/7" ><li> Node to Joy</li></a>

    </ul>

    
<style type="text/css">
    body {
      color:paleturquoise;
      background-color: lightcoral;
    }
  </style>
</body>
</html>