<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1><%= drink.name %> Show Page</h1>
    <p>This is a <%= drink.price %> price</p>
    <p>This is a <%= drink.image %> image</p>

    <a href = "/drinks"> Back to Drinks Index</a>
</body>
</html>