<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Food</title>
</head>
<body>
    <h1> Welcome to FoodHub</h1>
    <table>
      <tr>
        
    <% for (let i = 0; i < allFood.length; i++) { %>
        
          <td> <a href="/food/<%= i %>">
          <%= allFood[i].name %>
            <%= allFood[i].price %>
          <td> <img src =  "<%= allFood[i].image %>"/>
          
          </tr>
          </td>
          </table>
       
    <% } %>
    
<style type="text/css">
    body {
      color:paleturquoise;
      background-color: lightcoral;
    }
  </style>
</body>
</html>