<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>See Food Details</title>
</head>
<body>
    <h1> At food bar</h1>
    <h2> <%= allFood.name %></h2>
    
<!--
There's an h3tag that should display the price of the drink
Add an anchor tag with the text of back, that will take you back to your index.ejs view -->
    <h3> Price:</h3>
    <ul>
       <li>  <%= allFood.price %></li>
          
    
    </ul>

    <img src = "<%= allFood.image %>" />
    


    <a href = "/food/"> Back to index.ejs View</a>

    
<style type="text/css">
    body {
      color:paleturquoise;
      background-color: lightcoral;
    }
  </style>
</body>
</html>